{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Our Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
            <div class="col-sm-12">
            <div class="title-box text-center">
                <h3 class="title-a">
                Nuestras Instalaciones
                </h3>
                <p class="subtitle-a">
                Contamos con las mejores instaciones de la region
                </p>
                <div class="line-mf"></div>
            </div>
            </div>
      </div>


        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'images/cafeteria.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cafeteria</h4>
                <div class="portfolio-links">
                  <a href="{% static 'images/cafeteria.jpg' %}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="fa fa-eye"></i></a>
                  </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'images/edificioa.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Edificio A</h4>
                <p>En el Edificio A, se realizan los trámites administrativos de la institución educativa.</p>
                <div class="portfolio-links">
                  <a href="{% static 'images/edificioa.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-eye"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'images/edificiob.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Edifico B</h4>
                <p>En el Edificio B, se brindan los servicios educativos a los estudiantes para fomentarles la práctica de valores y excelencia educativa.</p>
                <div class="portfolio-links">
                  <a href="{% static 'images/edificiob.jpg' %}" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="fa fa-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'images/edificoc.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Edificio C</h4>
                <p>En el Edificio C, los estudiantes de Bachillerato Industrial y Perito en Mecánica Automotriz y Bachillerato en Ciencias y Letras con Orientación en Mecánica reciben Taller.</p>
                <div class="portfolio-links">
                  <a href="{% static 'images/edificoc.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="fa fa-eye"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'images/laboratorio.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Laboratirio Computacion</h4>
                <p>Laboratorios de Computación para estudiantes del Nivel Básico y Nivel Diversificado.</p>
                <div class="portfolio-links">
                  <a href="{% static 'images/laboratorio.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="fa fa-eye"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'images/taller.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Taller Mecanica</h4>
                <div class="portfolio-links">
                  <a href="{% static 'images/taller.jpg' %}" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="fa fa-eye"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'images/quimica.jpg' %} " style=" width: 100%; height: 262px;" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Laboratorio Quimica</h4>
                <div class="portfolio-links">
                  <a href="{% static 'images/quimica.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="fa fa-eye"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'images/actividadd.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Area Presentaciones artisticas</h4>
                <div class="portfolio-links">
                  <a href="{% static 'images/actividadd.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="fa fa-eye"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'images/arearecreativa.JPG' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Area de Descanso</h4>
                <div class="portfolio-links">
                  <a href="{% static 'images/arearecreativa.JPG' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="fa fa-eye"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

{% endblock content %}